.cuadros {
padding: 3rem;
background-color: rgb(255, 255, 255);
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3,10rem);
gap: 1rem;
}

.paneles {
font-size: 3rem;
border: 1px solid rgb(110, 202, 255);
border-radius: 5px;

display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.paneles:hover {
background-color: rgb(0, 217, 255);

}